<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Your Password</h1>

<!-- The form posts to the same /reset-password endpoint, but as a POST -->
<form th:action="@{/api/auth/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${resetToken}"/>
    <label>New Password</label>
    <input type="password" name="newPassword" required/>
    <button type="submit">Submit</button>
</form>


</body>
</html>
